[submodule "Movement"]
	path = Movement
	url = https://github.com/NadavAshkenazi/Robot_Movement
[submodule "BackEnd"]
	path = BackEnd
	url = https://github.com/NadavAshkenazi/robopet_be
[submodule "FaceRecognition"]
	path = FaceRecognition
	url = https://github.com/NadavAshkenazi/RobopetFaceDetect
[submodule "application"]
	path = application
	url = https://github.com/NadavAshkenazi/robopet_app
